.body {
  background-color: #eee;
}

.body {
  &__wrap {
    width: 560px;
    background-color: #fff;
    margin: 0 auto;
  }
}

.header {
  &__logo {
    width: 120px;
    padding: 10px 0;
  }
}

.header,
.video {
  position: fixed;
  text-align: center;
  width: 560px;
  background-color: #fff;
}

.main {
  padding: 370px 18px 10px;
}

.video {
  top: 50px;

  &__wrap {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    &:hover {
      border: 1px solid #ff9999;
    }
  }

  &__thumb {
    height: 70px;
    border-radius: 5px;
  }

  &__title {
    padding: 5px 20px 0;
  }

  &__desc {
    padding: 5px 20px;
    font-size: 0.7rem;
    color: grey;
  }
}